/* Write CSS here */

@media screen and (max-width: 768px) {
  .app-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-sm-bg.png');
    background-size: cover;
    height: 100vh;
  }
}

.app-container {
  font-family: 'Roboto';
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
  background-size: cover;
  width: 50%;
  height: 100vh;
}

.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  margin: 30px;
}

.heading {
  font-size: 35px;
  color: #333333;
  margin-left: 40px;
  padding-top: 50px;
}

.timer-para {
  color: #333333;
  font-weight: bold;
  font-size: 15px;
}

.image {
  margin-right: 3px;
}

.buttons-container {
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.img-and-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.start-btn {
  color: #ffffff;
  background-color: #1db05f;
  height: 24px;
  width: 50px;
  border-width: 0px;
  border-radius: 3px;
}

.stop-btn {
  height: 24px;
  width: 50px;
  border-width: 0px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #ef0d36;
}

.reset-btn {
  color: #ffffff;
  height: 24px;
  width: 50px;
  border-width: 0px;
  border-radius: 3px;
  background-color: #eaa800;
}
